#mw-page-base {
  background-color: #153050;
  background-image: url(https://cdn.discordapp.com/attachments/409639644196634627/490012520472510475/banner.png);
}

#footer {
  background-image: url(http://benimatic.com/tfwiki/images/0/0d/Wiki_Nav_Bar.png); 
}

body { 
  background-image: url(http://benimatic.com/tfwiki/images/0/0d/Wiki_Nav_Bar.png); 
}

#p-personal {
  background-color: none;
}

#p-personal a {
  color: #50ee50;
}

#p-navigation, #p-tb {
  background-color: #151515;
  opacity: 0.85;
}

.body ul li a {
  color: #50ff50 !important;
}

#p-tb-label {
  color: white !important;
}

#footer-info li {
  color: white !important;
  background-color: #151515;
  opacity: 0.85
}

#footer-places {
  background-color: #151515;
  opacity: 0.85;
}

#footer-places li a {
  color: green !important;
}

.mw-body-content p, li {
  color: #ddd;
}

.mw-body-content a {
  color: limegreen;
}

.mw-body-content a.external {
  color: yellowgreen;
}

table.wikitable a {
  color: darkgreen
}

h1, h2, h3 {
  color: #aea;
  font-family: "Helvetica" !important;
}

h1, h2 {
  border-bottom: 2px green solid;
}

hr {
  background-color: green;
}

.vectorTabs ul li span {
  background-image: url(http://benimatic.com/tfwiki/images/0/04/Wiki_Button_Gradient_2.png) !important;
}

.vectorTabs ul li a {
  color: limegreen;
}

.vectorTabs ul li.selected a {
  color: black !important;
}

.vectorTabs ul li.new a {
  color: tan !important;
}

.vectorTabs ul li {
  background-image: url(http://benimatic.com/tfwiki/images/1/1c/Wiki_Button_Gradient.png) !important;
}

.vectorTabs {
  background-image: url(http://benimatic.com/tfwiki/images/1/1c/Wiki_Button_Gradient.png) !important;
}

.catlinks {
  background-color: #071406;
  border: 1px solid #2a2;
}

#content {
  border: 1px solid #272;
  border-right-width: 0px;
  background-color: #122014;
  background-image: url(http://benimatic.com/tfwiki/images/4/48/Wiki_Content.png);
}

.toc {
  background-color: #071406 !important;
  border: 1px solid #2a2 !important;
}

.tocnumber {
  color: lightgreen;
}

.main-menu p {
  color: #8dd35f;
}

.main-menu td, .main-menu-nav b {
  color: lightgreen !important;
}

.main-menu td b {
  color: #6cb9a2;
}

#mw-normal-catlinks {
  color: tan !important;
}

table.wikitable a {
  color: lightgreen
}

#delete a {
  color: darkblue;
}

#p-cactions-label span {
  color: #50ee50;
}

#history hr {
  background-color: #071a02 !important;
}

.wikitable td {
  background-color: #2b552d; 
  border: 1px solid #071a02 !important; 
  color: #ddd
}

.wikitable th {
  background-color: #196f1d !important; 
  border: 1px solid #071a02 !important; 
  color: whitesmoke;
}

a.new {
  color: tan !important;
}

div#mw-head div.vectorMenu h3 {
  background-image: none;
}

.mw-content-ltr ul {
  list-style-image: url(https://cdn.discordapp.com/attachments/409639644196634627/489933805948239875/dot.svg) !important;
}

#toc ul li {
  list-style-image: none;
}

.mw-body {
  color: darkcyan
}

div#content.mw-body div#bodyContent.mw-body-content div#mw-content-text ul {
  list-style-image: url(https://cdn.discordapp.com/attachments/409639644196634627/489933805948239875/dot.svg) !important;
}

#filetoc {
  background-color: #071406;
  border: 1px solid #2a2;
}

fieldset {
  background-color: #071406;
  border: 1px solid #2a2;
}

#contentSub {
  color: darkcyan
}

.mw-plusminus-pos {
  color: lime
}

.mw-plusminus-neg {
  color: red;
}

.mw-changeslist-legend.mw-collapsible {
  border: 1px solid #2a2;
}

#preferences {
  background-color: #071406 !important; 
  border: 1px solid #2a2 !important;
}

#preftoc li {
  background-image: url(http://benimatic.com/tfwiki/images/0/04/Wiki_Button_Gradient_2.png) !important;
}

#preftoc .selected {
    background-color: #071406 !important;
}

#preftoc li {
    background-image: url(http://benimatic.com/tfwiki/images/0/04/Wiki_Button_Gradient_2.png) !important;
}

.mw-body-content p, li {
  color: #071406 !important;
}

#preftoc a {
  color: #50ff50 !important;
}

#preftoc .selected a {
  color: whitesmoke !important;
  background: #071406 !important;
}

#preftoc {
  background-image: url(http://benimatic.com/tfwiki/images/0/04/Wiki_Button_Gradient_2.png) !important;
}
